:root {	
	/*
	test colours
	--purple-taupe: #4B3B47;
	--spanish-gray: #9C9990;
	--granite-gray: #6A6262;
	--gainsboro: #E0D8DE;
	*/
	--charleston-green: #2A2C24;
	--pastel-gray: #CFD2B2;
}

html {
	height: 100vh;
}

body {
	/*background-color: #DCD0C0;*/
	background-color: var(--pastel-gray);
	color: var(--charleston-green);
	text-align: center;
}

.HeaderContainer {
	padding: 1em;
    	font-family: 'Montserrat', sans-serif;
	font-size: large;
}

.ContentContainer {
	font-family: 'Open Sans', sans-serif;
	font-size: small;
}

.ContentItem {
	padding: 1em;
}

.FooterContainer {
	left: 0;
	bottom: 2em;
	width: 100%;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-size: small;
}

@media only screen and (min-width: 786px) {
	.HeaderContainer {
		font-size: xx-large;
	}
	
	.ContentContainer {
		font-size: medium;
	}

	.FooterContainer {
		font-size: medium;
	}
}
